faiss-cpu==1.8.0.post1
fastapi==0.115.12
fastcache==1.1.0
huggingface-hub==0.30.2
mysql-connector-python==9.0.0

navigator-updater==0.2.1
numpy==1.22.4
pandas==1.2.4
pdfminer.six==20231228
pdfplumber==0.11.5
pycurl==7.43.0.6
pydantic==2.10.5
pydantic-core==2.27.2
PyMuPDF==1.24.11
pyodbc==4.0.39
pypdfium2==4.30.1
requests==2.26.0
rich==13.9.4
safetensors==0.5.3
scikit-image==0.18.1
scikit-learn @ file:///opt/concourse/worker/volumes/live/0c77b068-a026-4996-6842-33e5544ec13b/volume/scikit-learn_1614446667823/work
scipy @ file:///opt/concourse/worker/volumes/live/7d10d993-3825-404e-6e5d-9947c19e8c6d/volume/scipy_1618855951189/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sentence-transformers==3.2.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
